[Unit]
Description=Black box query interface
After=network.target mnt-data.mount mongodb.service

[Service]
User=alarm
EnvironmentFile=/home/alarm/workspace/black-box/config/environment_variables.txt
ExecStart=/bin/bash -c "/usr/bin/python3 /home/alarm/workspace/black-box/pybb/query_interface_main.py"
WorkingDirectory=/home/alarm/workspace/black-box/pybb
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
