[Unit]
Description=OSM Bridge ROS Wrapper
After=network.target roscore.service overpass.service

[Service]
ExecStart=/bin/bash -c "source /home/ropod/.ropod/env.sh && source /home/ropod/ropod-project-software/catkin_workspace/devel/setup.bash && export ROS_MASTER_URI=http://localhost:11311 && roslaunch osm_bridge_ros_wrapper osm_bridge.launch"
KillSignal=SIGKILL
User=ropod
Restart=on-failure

[Install]
WantedBy=multi-user.target
