[Unit]
Description=Component monitoring
After=network.target roscore.service

[Service]
ExecStart=/bin/bash -c "source /home/ropod/.ropod/env.sh && source /home/ropod/ropod-project-software/catkin_workspace/devel/setup.bash && export ROS_MASTER_URI=http://localhost:11311 && export PYTHONPATH=/opt/ros/kinetic/lib/python2.7/dist-packages && /usr/bin/python3 /home/ropod/ropod-project-software/catkin_workspace/src/platform/component-monitoring/main.py /home/ropod/ropod-project-software/catkin_workspace/src/platform/component-monitoring/config/component_monitoring_config.yaml"
WorkingDirectory=/home/ropod/ropod-project-software/catkin_workspace/src/platform/component-monitoring
KillSignal=SIGKILL
User=ropod
Restart=on-failure

[Install]
WantedBy=multi-user.target
