[Unit]
Description=ROPOD napoleon navigation
After=roscore.service route_planner.service ropod_localisation.service

[Service]
ExecStart=/bin/bash -c "source /home/ropod/.ropod/env.sh && source /home/ropod/ropod-project-software/catkin_workspace/devel/setup.bash && export ROS_MASTER_URI=http://localhost:11311 && roslaunch napoleon_navigation napoleon_navigation_brsu.launch"
KillSignal=SIGKILL
User=ropod
Restart=on-failure
CPUAffinity=0,1

[Install]
WantedBy=multi-user.target
