[Unit]
Description=ROPOD route planner
After=network.target roscore.service

[Service]
ExecStart=/bin/bash -c "source /home/ropod/.ropod/env.sh && source /home/ropod/ropod-project-software/catkin_workspace/devel/setup.bash && export ROS_MASTER_URI=http://localhost:11311 && rosrun route_planner route_planner_node"
KillSignal=SIGKILL
User=ropod
Restart=on-failure

[Install]
WantedBy=multi-user.target
