[Unit]
Description=ROPOD world model mediator
After=network.target roscore.service overpass.service

[Service]
ExecStart=/bin/bash -c "source /home/ropod/.ropod/env.sh && source /home/ropod/ropod-project-software/catkin_workspace/devel/setup.bash && export ROS_MASTER_URI=http://localhost:11311 && roslaunch ropod_wm_mediator wm_mediator.launch"
KillSignal=SIGKILL
User=ropod
Restart=on-failure

[Install]
WantedBy=multi-user.target
